/* Font family we want to use across the webpage */
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

/* styling used to make background image look nice and scale */
html {
    height: 100%;
    background-image: url('images/campfire.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: Arvo;
    margin: 0;
}

/* ------------ Navigation section styling ---------------------- */

/* Add a grey  background color to the top navigation */
.topnav {
    background-color: #A9A9A9;
    overflow: hidden;
    opacity: 0.8;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #EA5104;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* --------------------          ---------------------- */

  /* Title or H1 text styling */
  h1 {
      color: white;
      width: 35%;
      margin-left: 3%;
      margin-top: 4%;
      font-size: 2.6rem;
  }

  h1, p {
      display: inline-block;
      padding: 0;
      margin: 25px;
     
  }

  #myName, #myOccupation, #hello {
      display: inline;
      margin: 0;
      padding: 0;
      font-size: 3.2rem;
      color: #EA5104;
  }

  
/* ----------------------       ---------------------- */

/* styling section for Footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    opacity: 0.8;
  }
